body{
    background-image:url(background-bbt.jpg);
    font-family: Tahoma;
    font-style: normal;
    color: rgb(216, 224, 240);
    text-align: center;
}
ul{
    display : inline-block;
  margin :auto;
  text-align:left;
}

.texte1{
    font-family: 'Times New Roman';
    font-size: 30px;
}


.texte2{
    text-align: left;
}

a:hover{
    color: gold;
}