body{background-color:grey; }
body{background-image:url(https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?size=626&ext=jpg);}
h1{ text-align: center; color: rgb(251, 255, 0); font-family:'Abril FatFace', cursive; font-size:50px; border: 4mm ridge rgba(170, 50, 220, .6); border-color: rgb(255, 0, 221);}
h2{ text-align: center; font-style:italic; font-size: 20px; font-family:'Abril FatFace', cursive;}
h3{ text-decoration: underline; font-family:'Kaushan Script', cursive; font-size:30px;}
.logiciel{font-style: italic; font-size:20px; color: rgb(83, 2, 66); text-align: center;}
.langues{font-style: italic; font-size: 20px; color: rgb(83, 2, 66); text-align: center;}
.experience{border-top:thick double; border-color: red;}
.competence{text-align: center; text-decoration-style:wavy; border: dashed; border-color: red;}
.centre{text-align: center; text-decoration-style: wavy; border-top: 4mm ridge rgba(255, 0, 0, 0.705);}
ul{text-align: center;}
.date{font-family: cursive; font-size: 13px;}