h1{
    text-align: center;
    color: rgba(196, 18, 18, 0.822);
    font-family: 'Permanent Marker', cursive;
}
h2{
    text-align: center; 
    color: rgba(196, 18, 18, 0.822);
}
h3{
    text-align: left;
    color: navy;
    text-decoration: underline;
}
body{
    text-align: justify;
    color: rgba(202, 54, 54, 0.541);
    font-family: 'Kaushan Script', cursive;
    font-size: large;
    background-color: rgb(132, 212, 56);
    text-shadow: 2px 2px rgba(14, 13, 13, 0.822);
}
.finDeTxt{
    opacity: 0.7;
}
.bouton{
    text-align: right;
}